.container {
    width: 80vw;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container-word{
    width: 80vw;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -250px;
}

.blue-text {
    font-size: 30px;
    color:blue;
}
